// Fonts
@font-face {
    font-family: 'RobotoNormal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');  }

@font-face {
    font-family: 'RobotoHeavy';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBBc4AMP6lQ.woff2') format('woff2');
}

// Variables
$robotoNormal: "RobotoNormal";
$robotoBold: "RobotoHeavy";


// Styles
body {
    background-color: #48a397;
    margin: 900;

    .container {
        margin: 0 8rem;

        &:after{
            content: '';
            width: 5px;
            background-color: #605d5d;
        }
    }

    h1 {
        font-size: 84px;
        font-family: $robotoBold;
        color: #f1c2b4;
        margin-bottom: 1rem;
        text-transform: uppercase;
        // -webkit-text-stroke: 3px rgb(43, 42, 42);
    }

    h2 {
        font-size: 64px;
        font-family: $robotoBold;
    }

    p {
        font-family: $robotoNormal;
    }

    nav {
        ol {
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
    }

}
