// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

// Variables
$robotoNormal: 'Roboto', sans-serif;

@font-face {
    font-family: 'RobotoHeavy';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBBc4AMP6lQ.woff2') format('woff2');
}