@font-face {
  font-family: "RobotoNormal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoHeavy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBBc4AMP6lQ.woff2") format("woff2");
}
body {
  background-color: #48a397;
  margin: 900;
}
body .container {
  margin: 0 8rem;
}
body .container:after {
  content: "";
  width: 5px;
  background-color: #605d5d;
}
body h1 {
  font-size: 84px;
  font-family: "RobotoHeavy";
  color: #f1c2b4;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
body h2 {
  font-size: 64px;
  font-family: "RobotoHeavy";
}
body p {
  font-family: "RobotoNormal";
}
body nav ol {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.dogs {
  font: here;
}