html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 232, 232);
    font-family: sans-serif;
    margin: 0;
    color:#2c2c2c;
}

main {
    margin: 0 2rem;

    @media(min-width: 767px){
        margin: 0 5rem;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.nav-list {
    background-color: transparent;
    box-shadow: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
    padding-left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .25s;

    &.active {
        box-shadow: 0 5px 10px rgba(71, 71, 71, 0.553);
        background-color: #fff;
    }


    .nav-item {
        list-style: none;
        border-bottom: 2px solid transparent;

        a {
            color: inherit;
            text-decoration: none;
        }

        &.active {
            border-bottom: 2px solid rgb(209, 132, 132);
        }
    }

    .nested-nav-list {
        display: none;
        position: absolute;
        background-color: #fff;
        top: 35px;
        padding: 10px;
        border-radius: 0px 0px 15px 15px;

        .nav-item {
            padding-top: 5px;
        }

        &.active {
            display: block;
        }
    }
}

section {
    margin-top: 3rem;

    &:first-of-type {
        margin-top: 4rem;
    }
}

#home {
    .side-by-side {
        align-items: center;
        column-gap: 30px;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        @media(min-width: 767px){
            flex-direction: row;
        }

        img {
            border-radius: 15px;
            width: 35%;

            @media(min-width: 767px){
                width: 15%;
            }
        }
    }

    .interest-list {
        
        li {
            line-height: 1.5;
            margin-left: 2rem;

            &:first-of-type {
                padding-top: .25rem;
            }

            a {
                color: #828ad0;
            }
        }
    }
}

#about {
    .side-by-side {
        align-items: center;
        column-gap: 30px;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        @media(min-width: 767px){
            flex-direction: row;
        }

        img {
            border-radius: 15px;
            width: 35%;

            @media(min-width: 767px){
                width: 15%;
            }
        }
    }
}

#built-things {
    .cards-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        column-gap: 25px;

        @media(min-width: 767px){
            flex-direction: row;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(215, 207, 204, 0.704);
            box-shadow: 0 5px 10px rgba(71, 71, 71, 0.553);
            padding: 20px;
            border-radius: 15px;
            margin-top: 20px;

            &:first-of-type {
                margin-top: 0;
            }

            &:hover {
                background-color: rgb(215, 207, 204);
                box-shadow: 0 5px 9px rgb(71 71 71 / 86%);
            }

            @media(min-width: 767px){
                flex-wrap: wrap;
                max-width: 33%;
                margin-top: 0;
            }

            h3 {
                margin-top: 0;
            }

            img {
                width: 75%;
                border-radius: 15px;
            }

            .card-links {
                display: flex;
                column-gap: 20px;
                justify-content: flex-start;
            }
        }
    }
}